#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
button[disabled] {
  color: unset;
}
button.start-game {
  width: unset;
  background: #F8ED8C;
  color: #333;
}
button.not-selected {
  background: #1a1a1a;
}
button.card-selected {
  background: #89AC46;
}
button.card-matched {
  background: #FF8989;
  pointer-events: none;
}
